
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Database Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="{{url_for("logout")}}">Logout</a>
          
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Database Blog</h1>
        <p class="lead blog-description">A Blog about databases...</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">


        {% for post in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{post[4]}}</h2>
            <p class="blog-post-meta">by {{post[1]}}</p>
            <p>{{post[2]}}</p>



            <a href="http://localhost:5000/post/{{post[0]}}">
                <button type="button" class="btn btn-success">More...</button>
            </a>


            
          </div><!-- /.blog-post -->
        {% endfor %}




        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div>
              <a href="http://localhost:5000/addpost">
                  <button type="button" class="btn btn-warning">Add a Post</button>
              </a>
          </div><br>
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            This is a blog about Databases. Brought to you by the masterminds behind such projects as
            TODO list, and Movie Reviews...
          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">

        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- JavaScript jQuery code from Bootply.com editor  -->        

  </body>
</html>
