
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Post</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/sticky.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="http://localhost:5000">Home</a>
          <a class="blog-nav-item" href="{{url_for("logout")}}">Logout</a>
          
        </nav>
      </div>
    </div>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>{{post[4]}}</h1>
      </div>
      <p class="lead">{{post[2]}}</p>
      <p><i>-{{post[1]}}</i></p>

      <br><br>
      <h3>Write a Comment</h3>
      <form action="{{url_for("addcomment", postid=post[0])}}" method="POST">
        <input type="textarea" name="comment" id="tea" class="form-control" rows="3">
        <input type="submit" value="Submit">
      </form><br>


      <h3>Comments...</h3>
      {% for comm in comments %}
        <h5>{{comm[2]}}</h5>
        <h6>-<i>{{comm[1]}}</i></h6>
        <br>
      {% endfor %}

    </div>



    <div id="footer">
      <div class="container">
        <p class="text-muted">Alex Kahan and Ekjot Basra</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- JavaScript jQuery code from Bootply.com editor  -->        
<script type='text/javascript'>
  </body>
</html>
